main {
	background: #fafafa;
	font-weight: 600;
}

header {
	background: #505061;
	color: white;
	padding: 15px;
	border-bottom: solid 1px #3d3d47;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);   
	z-index: 3;
    position: relative;
}

.fluid {
	display: flex;
}

.fluid-vcenter {
	align-items: center;
}

.fill {
	flex-grow: 1;
}

.container {
	max-width: 1024px;
	height: 100%;
}

nav {
	width: 100%;
	min-width: 300px;
	max-width: 300px;
	padding: 30px 10px;
}

nav .nav-list {
	display: block;
	font-size: 16px;
}

.paper {
	background-color: #fff;
    padding: 0 20px;
    border: 1px solid #f1f1f1;
    border-width: 0 1px 0 1px;
}


.project-icon {
	margin-right: 12px;
}

.nav-list .nav-element {
	padding: 7px 6px;
}

.nav-list > * {
	width: 100%;
}

.project-list .nav-element{
	width: 100%;
	text-decoration: none;
	transition: background 0.3s;
	cursor: pointer;
	text-decoration: none;
}
.project-list > * {
	position: relative;
}

.project-list .dropdown {
	position: absolute;
	right: 15px;
	cursor: pointer;
}


.project-list > *:hover .nav-element {
	background: white;
}

.project-list > * .project-dropdown {

}

.project-list > *:hover .project-dropdown {

	opacity: 1.0;
}


.project-list input[name="name"] {
	margin:10px 0;
}

.projects-add .bar-actions >*:first-child {
	margin-right: 10px;
}

/**
 * General
 */
.dropdown-menu .dropdown-item{
	display: block;
	padding: 8px 12px;
}

.dropdown-menu .dropdown-item:hover{

}

.dropdown-divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin: 5px 0;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
}


.btn {
	border-radius: 1px;
}

.btn-primary {
	background: #505061;
	border: none;
}

.btn-primary:hover {
	background: #7c7c97;
}


.action {
	cursor: pointer;
}
.action i {
	margin-right: 12px;
}

.action {
	color: #db4c3f;
}