main {
	background: #fafafa;
    font-size: 14px;
}

header {
	background: #505061;
	color: white;
	padding: 15px;
	border-bottom: solid 1px #3d3d47;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);   
	z-index: 3;
    position: relative;
}
.container {
	max-width: 1024px;
	height: 100%;
}

nav {
	width: 100%;
	min-width: 300px;
	max-width: 300px;
	padding: 30px 10px;
}

nav .nav-list {
	display: block;
	font-size: 16px;
}

.paper {
	background-color: #fff;
    padding: 0 20px;
    border: 1px solid #f1f1f1;
    border-width: 0 1px 0 1px;
}


.project-icon {
	margin-right: 12px;
}

.nav-list .nav-element {
	padding: 7px 6px;
	font-size: 14px;
}

.nav-list .nav-element.editing {
	padding: 0 6px;
}

.nav-list > * {
	width: 100%;
}

.project-list .nav-element{
	width: 100%;
	text-decoration: none;
	transition: background 0.3s;
	cursor: pointer;
	text-decoration: none;
}
.project-list > * {
	position: relative;
}

.project-list .dropdown {
	position: absolute;
	right: 15px;
	cursor: pointer;
}


.project-list > *:hover .nav-element:not(.editing) {
	background: white;
}

.project-list > *.active .nav-element:not(.editing) {
	background: white;
	font-weight: bold;
}

.project-list > * .project-dropdown {

}

.project-list > *:hover .project-dropdown {

	opacity: 1.0;
}


.project-list input[name="name"] {
	margin:10px 0;
}

.project-tasks {
	opacity: 0.5;
	font-size: 12px;
}

.container-actions .bar-actions >*:first-child  {
	margin-right: 10px;
}

/**
 * Tasks
 */


.tasks > * {
	padding:4px 0;
}



.tasks .tasks-element {
	width: 100%;
	padding: 10px 0;
}

.tasks-title {
	text-align: left;
}

.tasks-container.removed {
	opacity: 0.7;
}

.tasks-container.removed .tasks-title {
	text-decoration: line-through;
}

.tasks > *:not(:last-child) .tasks-element {
	border-bottom: 1px solid #efefef;
}

.task-check {
	width: 22px;
	height: 22px;
	border-radius: 25px;
	border: 1.8px solid;
	border-color: #efefef;
	margin:5px 0;
	margin-right: 10px;
	cursor: pointer;
	transition: background 0.3s;
}

.task-check[data-priority='0'] {
	border-color: rgba(206, 206, 206, 1);
	background: rgba(206, 206, 206, 0.1);
}


.task-check[data-priority='0']:hover {
	background: rgba(206, 206, 206, 0.3);
}

.task-check[data-priority='3'] {
	border-color: rgba(172, 0, 0, 1);
	background: rgba(172, 0, 0, 0.1);
}

.task-check[data-priority='3']:hover {
	background: rgba(172, 0, 0, 0.3);
}

.tasks .form-control[name="name"] {
	margin:10px 0;
}

.tasks-add-container > div, .tasks-add-container .tasks-add{
	width: 100%;
}